* {
	padding: 0;
	margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.header__img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.header__nav {
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

.header__nav div {
    margin: 10px 0;
}

.header__nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.header__nav a.active {
    color: #2B9478;
}

.header__nav a:hover {
    color: #2B9478;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    background-color: grey;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px 0;
}

.main__img img {
    width: 98%;
    border: 2px solid black;
    margin: 1px;
}

.main__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
}

.main__text--title {
    background-color: grey;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.main__text--paragraph {
    font-size: 13px;
    margin-bottom: 15px;
}

.main__text--paragraph a {
    color: #000000;
}

.main__text--paragraph a:hover {
    color: grey;
}

footer {
    background: grey;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.footer__text {
    margin: 20px 10px 5px 10px;
}

.footer__icons {
    margin: 5px 10px 20px 10px;
}

.footer__icons img {
    margin: 3px;
}


@media (min-width: 400px) {
    .header__img {margin: 30px 0}
    .header__nav {display: flex; flex-direction: row; justify-content: center; margin: 20px 0}
    .header__nav div {margin: 10px}
    .main {display: flex; flex-direction: column; align-items: center; margin-bottom: 20px}
    
}

@media (min-width: 650px) {
    .main__title {width: 40%;}
    .main__text {width: 40%;}
    footer {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
    .footer__text {margin: 40px 20px;}
    .footer__icons {margin: 40px 20px;}
    .footer__icons img {margin: 0 5px}
}

@media (min-width: 768px) {
    
}